{% extends "home/base.html" %} {% block content %}



<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div id="app" class="container">
    <div class="row" v-for="stock in symbols">

        <div>

            <p> [[ stock.symbol]] | <span>[[ stock.name]]</span></p>
            <a :href="">View Sentiment</a>
            <button>Star Mining</button>
        </div>


    </div>
    <!-- 
    {% autoescape off %}
    {{ tweets }}
    {% endautoescape %} -->

</div>




{% endblock %} {% block scripts %}
<script>
    const chatSocket = new WebSocket(
        'ws://' +
        window.location.host +
        '/ws/home/'

    );
    console.log(chatSocket)
    chatSocket.onmessage = function(e) {
        if (typeof e !== 'undefined') {
            var joke = JSON.parse(e.data);


        };




    };

    chatSocket.onclose = function(e) {
        console.log(e.error)
        console.error('Chat socket closed unexpectedly');
    };

    let myApp = Vue.createApp({
        delimiters: ["[[", "]]"],
        data() {
            return {
                symbols: []






            }
        },

        async created() {

            var symbolsPath = "{%url 'home:fetch_symbols'%}"

            let response = await fetch(symbolsPath);
            if (response.ok) {
                let data = await response.json();
                this.symbols = data.stock_symbol

                console.log(data)
            } else {
                alert("failed to load the list of hobbies");
            }
        },

        methods: {

            async stockHistoryDynamics() {
                var pathArray = window.location.pathname.split('/');
                var histogramPath = "{%url 'singleticker:get_time_history' 2000000000000000 50000000000000%}".replace("2000000000000000", pathArray[2])
                histogramPath = histogramPath.replace("50000000000000", "dynamic")
                let responseHistogram = await fetch(histogramPath);
                if (responseHistogram.ok) {

                } else {
                    alert("failed to load the list of hobbies");
                }





            },


        }
    });
    myApp.mount('#app');
</script>

{% endblock %}