{% extends "home/base.html" %} {% block content %}



<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div id="app" class="container">
    <div class="row" v-for="symbols in symbols">




    </div>
    <!-- 
    {% autoescape off %}
    {{ tweets }}
    {% endautoescape %} -->

</div>




{% endblock %} {% block scripts %}
<script>
    // const chatSocket = new WebSocket(
    //     'ws://' +
    //     window.location.host +
    //     '/ws/stock/'

    // );
    // console.log(chatSocket)
    // chatSocket.onmessage = function(e) {
    //     if (typeof e !== 'undefined') {
    //         var joke = JSON.parse(e.data);


    //     };




    // };

    // chatSocket.onclose = function(e) {
    //     console.log(e.error)
    //     console.error('Chat socket closed unexpectedly');
    // };

    let myApp = Vue.createApp({
        delimiters: ["[[", "]]"],
        data() {
            return {
                currentPrice: 0,
                stockSocket: null,
                labelsx: null,
                data: null,
                config: null,
                myChart: null,
                tweet: null,
                labelSentiment: [],
                dataSentiment: [],
                configSentiment: null,
                sentimentChart: null,


                mean_24_compound: 0,
                mean_24_positivity: 0,
                mean_24_negativity: 0,
                mean_24_neutrality: 0,
                mean_24_polarity: 0,
                mean_24_subjectivity: 0,





                labelsPiedChart: [],
                dataPieChart: [],
                configPieChart: null,
                pieChart: null,
                optionsPieChart: null,


                wordsClouds: [],
                margin: null,
                svg: null,
                layout: null,


                tweet_list_searched: [],

                tweet_list_popular_recent: [],

                tweet_list_basedOn_sentiment: [],

                tweet_negative_list: [],
                tweet_neutral_list: [],
                tweet_positive_list: [],






            }
        },

        async created() {

            var stockPath = window.location.pathname.split('/');
            var stockSingle = stockPath[2]

        },

        methods: {

            async stockHistoryDynamics() {
                var pathArray = window.location.pathname.split('/');
                var histogramPath = "{%url 'singleticker:get_time_history' 2000000000000000 50000000000000%}".replace("2000000000000000", pathArray[2])
                histogramPath = histogramPath.replace("50000000000000", "dynamic")
                let responseHistogram = await fetch(histogramPath);
                if (responseHistogram.ok) {
                    let data = await responseHistogram.json();

                    //change data.map for dynamic
                    var prices = data.stock_quote.data.map(x => x.open);
                    console.log(prices)
                    var dates = data.stock_quote.data.map(x => x.date);
                    console.log(dates);

                    console.log(data.stock_quote)


                    // var mybarChart = document.getElementById('myChart');

                    // console.log(mybarChart);
                    console.log(dates);

                    this.myChart.data.labels = dates;
                    this.myChart.data.datasets[0].data = prices;
                    this.myChart.update();
                } else {
                    alert("failed to load the list of hobbies");
                }





            },
        }
    });
    myApp.mount('#app');
</script>

{% endblock %}