{% extends "home/base.html" %}


{% block content %}



<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div id="app" class="container">
    <div class="row">
        <div id="ticke-title">
            <h1> $TSL </h1>
        </div>
    </div>
    <div class="row">
        <div id="left-ticker-container"  class="col-sm">
        
            <div id="ticker-price">
                <div>
                    <h1> $2000 </h1>
                </div>
                <div>
                    <p> + 2.60% ($74.72) </p>
                </div>
            </div>

        </div>




        <div id="left-ticker-container" class="col-sm" >

            <div id="ticker-overview">
                <div class="row">
                    <div class="col">col</div>
                    <div class="col">col</div>
                    <div class="w-100"></div>
                    <div class="col">col</div>
                    <div class="col">col</div>
                    <div class="col">col</div>
                    <div class="col">col</div>
                    <div class="w-100"></div>
                    <div class="col">col</div>
                    <div class="col">col</div>
                </div>
            </div>

        </div>



    </div>
<!-- 
    {% autoescape off %}
    {{ tweets }}
    {% endautoescape %} -->

</div>




{% endblock %}

{% block scripts %}


{% endblock %}