{% extends "home/base.html" %} {% block content %}



<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div id="app" class="container">
    <div class="row">
        <div class="col">
            <div class="row" v-for="(stock, index) in symbols">

                <div>

                    <p> [[ stock.symbol]] | <span>[[ stock.name]]</span> | <span v-if="mapped_stocks_prices.length != 0">[[ mapped_stocks_prices[index].change   ]]</span>
                    </p>
                    <a :href="`/stock/${stock.symbol}`" v-if="checkIfInclude(stock.symbol)">View Sentiment</a>
                    <button @click.native="startMiningTweetsStock(stock.symbol)" v-else>Star Mining</button>
                </div>


            </div>




        </div>
        <div class="col">
            <div class="row" v-for="stock in list_most_active">

                <div>

                    <p> [[ stock.symbol]] | <span>[[ stock.companyName]]</span> | <span>[[ stock.latestPrice]]</span></p>

                </div>


            </div>




        </div>

        <div class="col">
            <div class="row" v-for="stock in list_most_gainers">

                <div>

                    <p> [[ stock.symbol]] | <span>[[ stock.companyName]]</span> | <span>[[ stock.latestPrice]]</span></p>

                </div>


            </div>




        </div>

        <div class="col">
            <div class="row" v-for="stock in list_most_losers">

                <div>

                    <p> [[ stock.symbol]] | <span>[[ stock.companyName]]</span> | <span>[[ stock.latestPrice]]</span></p>
                </div>


            </div>




        </div>



    </div>



    <div class="row" v-if="news.length != 0">
        <div class="card-group" v-for="single in news">
            <div class="card">
                <img class="card-img-top" src="" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">[[ single.headline ]]</h5>
                    <p class="card-text"> [[ single.summary]]</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">[[ single.datetime]]</small>
                </div>
            </div>

        </div>
    </div>
    <!-- 
    {% autoescape off %}
    {{ tweets }}
    {% endautoescape %} -->

</div>




{% endblock %} {% block scripts %}
<script>
    const chatSocket = new WebSocket(
        'ws://' +
        window.location.host +
        '/ws/home/'

    );
    console.log(chatSocket)
    chatSocket.onmessage = function(e) {
        if (typeof e !== 'undefined') {
            var response = JSON.parse(e.data);
            console.log(response)
            if (response.hasOwnProperty('most_active')) {
                console.log(response.most_active)
                this.most_active = response.most_active
            } else if (response.hasOwnProperty('most_gainers')) {
                console.log(response.most_gainers)
                this.most_gainers = response.most_gainers
            } else if (response.hasOwnProperty('most_losers')) {
                console.log(response.most_losers)
                this.most_losers = response.most_losers
            }


        };




    };

    chatSocket.onclose = function(e) {
        console.log(e.error)
        console.error('Chat socket closed unexpectedly');
    };

    let myApp = Vue.createApp({
        delimiters: ["[[", "]]"],
        data() {
            return {
                symbols: [],
                string_symbolys_fetch: "",
                prices_symbols: [],
                list_most_active: [],
                list_most_gainers: [],
                list_most_losers: [],
                list_mined_stock: [],
                mapped_stocks_prices: [],
                news: [],








            }
        },

        async created() {

            this.get_symbols()
            this.getMostActive();
            this.getMostGainers();
            this.getMostLosers();
            this.getAllTweetsMining()
            this.symbols.forEach(element => this.news.push((this.prices_symbols[element.symbol].news[0])));
            console.log(this.prices_symbols['AAPL'])
            this.shuffle(this.news)

            console.log(this.mapped_stocks_prices)
            console.log(this.news)
        },

        methods: {


            async get_symbols() {
                var symbolsPath = "{%url 'home:fetch_symbols'%}"

                let response = await fetch(symbolsPath);
                if (response.ok) {
                    let data = await response.json();
                    this.symbols = data.stock_symbol
                    this.symbols.forEach(element => this.string_symbolys_fetch += element.symbol.toLowerCase() + ",");


                    console.log(data)
                    console.log(this.string_symbolys_fetch)
                    this.getBatchPrices(this.string_symbolys_fetch)

                } else {
                    alert("failed to load the list of hobbies");
                }




            },
            async stockHistoryDynamics() {
                var pathArray = window.location.pathname.split('/');
                var histogramPath = "{%url 'singleticker:get_time_history' 2000000000000000 50000000000000%}".replace("2000000000000000", pathArray[2])
                histogramPath = histogramPath.replace("50000000000000", "dynamic")
                let responseHistogram = await fetch(histogramPath);
                if (responseHistogram.ok) {

                } else {
                    alert("failed to load the list of hobbies");
                }





            },

            async getMostActive() {

                var stockPath = "{%url 'home:get_most_active'%}"

                let response = await fetch(stockPath);
                if (response.ok) {
                    let data = await response.json();
                    this.list_most_active = data.stock_symbol

                    console.log(data)
                } else {
                    alert("failed to load the list of hobbies");
                }

            },


            async getMostGainers() {
                var stockPath = "{%url 'home:get_most_gainers'%}"

                let response = await fetch(stockPath);
                if (response.ok) {
                    let data = await response.json();
                    this.list_most_gainers = data.stock_symbol

                    console.log(data)
                } else {
                    alert("failed to load the list of hobbies");
                }


            },

            async getMostLosers() {

                var stockPath = "{%url 'home:get_most_losers'%}"

                let response = await fetch(stockPath);
                if (response.ok) {
                    let data = await response.json();
                    this.list_most_losers = data.stock_symbol

                    console.log(data)
                } else {
                    alert("failed to load the list of hobbies");
                }

            },
            async startMiningTweetsStock(ticker_id) {
                let miningPath = "{%url 'home:start_mining_tweets' 2000000000000000%}".replace("2000000000000000", ticker_id.toLowerCase())
                let response = await fetch(miningPath);
                if (response.ok) {
                    let data = await response.json();
                    // this.list_most_losers = data.stock_symbol
                    this.list_mined_stock.push(data.ticker_id);
                    console.log(data);
                } else {
                    alert("failed to load the list of hobbies");
                }




            },
            async getAllTweetsMining() {
                let allMiningPath = "{%url 'home:get_all_mining_tweets' %}";
                let response = await fetch(allMiningPath);
                if (response.ok) {
                    let data = await response.json();
                    // this.list_most_losers = data.stock_symbol
                    this.list_mined_stock = data.tasks

                    console.log("mining tweets")
                    console.log(data)
                } else {
                    alert("failed to load the list of hobbies");
                }

            },

            async getBatchPrices(stocks) {
                let batchPath = "{%url 'home:get_batch_stock_prices' 2000000000000000%}".replace("2000000000000000", stocks.toLowerCase());
                let response = await fetch(batchPath);
                if (response.ok) {
                    let data = await response.json();
                    // this.list_most_losers = data.stock_symbol
                    console.log(Object.keys(data.stock_prices).length)
                    this.prices_symbols = data.stock_prices

                    console.log("batch  tweets")
                    this.symbols.forEach(element => this.mapped_stocks_prices.push((this.prices_symbols[element.symbol].quote)));

                } else {
                    alert("failed to load the list of hobbies");
                }

            },
            checkIfInclude(stock) {
                if (this.list_mined_stock.lenght != 0)
                    return this.list_mined_stock.includes(stock.toLowerCase())


                return false
            },

            shuffle(array) {
                let currentIndex = array.length,
                    randomIndex;

                // While there remain elements to shuffle...
                while (currentIndex != 0) {

                    // Pick a remaining element...
                    randomIndex = Math.floor(Math.random() * currentIndex);
                    currentIndex--;

                    // And swap it with the current element.
                    [array[currentIndex], array[randomIndex]] = [
                        array[randomIndex], array[currentIndex]
                    ];
                }

                return array;
            }



        }
    });
    myApp.mount('#app');
</script>

{% endblock %}