{% extends "singleticker/base.html" %} {% block content %}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div id="app" class="container">
    <div class="row">
        <div id="ticke-title">
            <h1> $TSL </h1>
        </div>
    </div>
    <div class="row">
        <div id="left-ticker-container" class="col-sm">

            <div id="ticker-price">
                <div>
                    <h1> [[currentPrice]] </h1>
                </div>
                <div>
                    <p> + 2.60% ($74.72) </p>
                </div>
            </div>

        </div>




        <div id="left-ticker-container" class="col-sm">

            <div id="ticker-overview">
                <div class="row">

                    <div class="col">
                        <p> Market Cap : 123</p>
                    </div>
                    <div class="col">
                        <p> Market Cap : 123</p>
                    </div>
                    <div class="col">
                        <p> Market Cap : 123</p>
                    </div>


                    <div class="w-100"></div>
                    <div class="col">
                        <p> Market Cap : 123</p>
                    </div>
                    <div class="col">
                        <p> Market Cap : 123</p>
                    </div>
                    <div class="col">
                        <p> Market Cap : 123</p>
                    </div>

                    <div class="w-100"></div>
                    <div class="col">
                        <p> Market Cap : 123</p>
                    </div>
                    <div class="col">
                        <p> Market Cap : 123</p>
                    </div>
                    <div class="col">
                        <p> Market Cap : 123</p>
                    </div>



                </div>
            </div>

        </div>



    </div>

    <div class="row">
        <div id="left-graph-ticker-container" class="col-8">

            <canvas id="stock-chart"></canvas>

        </div>
        <div id="right-tweet-container" class="col" style="background-color:blue">
            <div class="list-group">
                <img src="someting.png" width="50" height="1000">
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">List group item heading</h5>
                        <small>3 days ago</small>
                    </div>
                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    <small>Donec id elit non mi porta.</small>
                </a>
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">List group item heading</h5>
                        <small class="text-muted">3 days ago</small>
                    </div>
                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    <small class="text-muted">Donec id elit non mi porta.</small>
                </a>
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">List group item heading</h5>
                        <small class="text-muted">3 days ago</small>
                    </div>
                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    <small class="text-muted">Donec id elit non mi porta.</small>
                </a>
            </div>
        </div>



    </div>






    <!-- 
    {% autoescape off %}
    {{ tweets }}
    {% endautoescape %} -->

</div>

{% endblock %} {% block scripts %}
<script>
    //   const labelsx = [
    //     'January',
    //     'February',
    //     'March',
    //     'April',
    //     'May',
    //     'June',
    //   ];

    //   const data = {
    //     labels: labelsx,
    //     datasets: [{
    //       label: 'My First dataset',
    //       backgroundColor: 'rgb(255, 99, 132)',
    //       borderColor: 'rgb(255, 99, 132)',
    //       data: [0, 10, 5, 2, 20, 30, 45],
    //     }]
    //   };

    //   const config = {
    //                 type: 'line',
    //                 data: data,
    //                 options: {
    //                     xAxes: [{
    //                     type: 'time',
    //                     time: {
    //                         parser: 'YYYY-MM-DD HH:mm:ss',
    //                         unit: 'minute',
    //                         displayFormats: {
    //                             'minute': 'YYYY-MM-DD HH:mm:ss',
    //                             'hour': 'YYYY-MM-DD HH:mm:ss'
    //                         }
    //                     },
    //                     ticks: {
    //                         source: 'data'
    //                     }
    //                 }]        }
    //              };

    //   const myChart = new Chart(
    //     document.getElementById('myChart'),
    //     config
    //   );





    let myApp = Vue.createApp({
        delimiters: ["[[", "]]"],
        data() {
            return {
                currentPrice: 0,
                stockSocket: null,


            }
        },

        async created() {

            var stockPath = window.location.pathname.split('/');
            var stockSingle = stockPath[2]

            this.stockSocket = new WebSocket(
                'ws://' +
                window.location.host +
                '/ws/singlestock/' +
                stockSingle + '/'

            );
            console.log(this.stockSocket)
            let self = this
            this.stockSocket.onmessage = function(e) {
                if (typeof e !== 'undefined') {
                    var response = JSON.parse(e.data);
                    console.log(response);

                    self.currentPrice = response.latestPrice;


                };




            };

            this.stockSocket.onclose = function(e) {
                console.log(e.error)
                console.error('Chat socket closed unexpectedly');
            };


            //make a get request
            var pathArray = window.location.pathname.split('/');
            console.log(pathArray[2])
            var urlWithPath = "{%url 'singleticker:get_current_quote' 2000000000000000%}".replace("2000000000000000", pathArray[2])
            let response = await fetch(urlWithPath);
            if (response.ok) {
                let data = await response.json();
                console.log(data.stock_quote)
                this.currentPrice = data.stock_quote.latestPrice
            } else {
                alert("failed to load the list of hobbies");
            }
        },
        methods: {
            async createNewHobby() {}
        }
    })
    myApp.mount('#app')
</script>
{% endblock %}